 

.service-block4 .service-desc h5:after {
  content: '';
  display: block;
  width: 10%;
  height: 2px;
  background: #2D4263;
  margin-top: 10px;
  margin-bottom: 15px;
  -moz-transition-duration: .4s;
  -ms-transition-duration: .4s;
  -webkit-transition-duration: .4s;
  -o-transition-duration: .4s;
  transition-duration: .4s
}

 